@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url(assets/imagem_fundo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

}

:root {
  --color-white: #ffffff;
  --color-purple: #906AE1;
}

#container_principal {
  background-color: var(--color-white);

  width: 100%;
  max-width: 50%;
  height: 100vh;  /* TAKE IT OF AFTER */

  margin: 50px auto;
  border: 2px solid var(--color-purple);
  border-radius: 10px;

}

.title h1{
  text-align: center;
  letter-spacing: 0.1rem;

  text-transform: uppercase;
}

.title span {
  color: var(--color-purple);
}

input {
  width: 100%;
  border: 1px solid var(--color-purple);
  border-radius: 5px;

  padding-left: 2px;
}

input::placeholder {
  font-size: 11px;
}

input:focus {
  outline: none;
}

.filter_itens select {
  border: 1px solid var(--color-purple);
  border-radius: 5px;

  padding-left: 2px;

  font-size: 12px;
}

.box_tasks {
  display: flex;
  justify-content: space-between;

  background-color: #e8e8e8;
  border: 1px solid var(--color-purple);
  border-radius: 5px;

}

.btns {
  display: flex;
  align-items: center;
}

.btns button {
  border: none;
  cursor: pointer;
}

.btn-done {
  background-color: green;
  color: var(--color-white);

  border-radius: 4px;
  
  text-transform: uppercase;
}

.btn-x {
  background-color: red;
  color: var(--color-white);

  border-radius: 4px;
  
  text-transform: uppercase;
}



/* Media queries */
@media only screen and (max-width: 600px) {

  body {
    font-size: 14px;
  }

  #container_principal {
    max-width: 85%;
  }

  .content_main {
    padding: 20px;
  }

  .sub_title {
    font-size: 15px;
    margin-bottom: 8px;
  }

  .box_list {
    padding: 20px 0;
  }



}

